<div class="center">
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>	
    <%= devise_error_messages! %>	
    <h4>新規登録</h4>	
    <div class="form-icons">
      <div class="field">
        <div class="input-group">
          <span class="input-group-label">
            <i class="fa fa-user"></i>
          </span>
          <%= f.text_field :name, autofocus: true, autocomplete: "username", placeholder: "Username", class: "input-group-field" %>
        </div>
      </div>
    </div>

    <div class="form-icons">
      <div class="field">
        <div class="input-group">
          <span class="input-group-label">
            <i class="fa fa-envelope"></i>
          </span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "input-group-field" %>	
        </div>
      </div>
    </div>

    <div class="form-icons">
      <div class="field">
        <div class="input-group">
          <span class="input-group-label">
            <i class="fa fa-key"></i>
          </span>
          <%= f.password_field :password, autocomplete: "new-password", autocomplete: "new-password", placeholder: "Password", class: "input-group-field" %>
        </div>
      </div>
    </div>	
    <% if @minimum_password_length %>
      ※パスワードは<%= @minimum_password_length %>文字以上でお願いします
    <% end %>
 	
    <div class="actions">	
      <%= f.submit "会員になる", class: "button expanded" %>	
    </div>	
  <% end %>
  
  <%= render "devise/shared/links" %>

</div>