<%= form_for @post do |f| %>
  <div class="form-group center">
  <%= f.label :title, "タイトル" %><br />
  <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :content, "投稿内容" %><br />
      <%= f.text_area :content, size: "60x12", class: 'quill_container', id: 'froala' %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-success" %>
<% end %>